* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", serif; */
  /* font-family: "DM Sans", serif; */
}

/* Logo Row Start */
.logo-row {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 1rem 0 0 0;
}

.logo-row img {
  width: 170px;
}
.logo-row #logo-1 {
  width: 200px;
}

@media screen and (max-width: 768px) {
  .logo-row {
    padding: 1rem 0.5rem;
  }
  .logo-row img {
    width: 110px;
  }
  .logo-row #logo-1 {
    width: 130px;
  }
}
/* Logo Row End */

/* Login Head Start */
.login-head{
    margin-top: 2rem;
}
.login-head h1{
    font-size: calc(1.5rem + 1vw);
    text-align: center;
    font-family: "Poppins", serif;
}
.login-head h2{
    font-size: calc(0.7rem + 1vw);
    margin-top: 1.5rem;
    text-align: center;
    font-family: "Poppins", serif;
}
.login-head span{
    font-size: calc(0.25rem + 1vw);
    font-family: "Poppins", serif;
    margin-top: 1rem;
    text-align: center;
    display: block;
    color: #000;
    font-weight: 500;
}
.login-head span a{
    color: #000;
}

@media screen and (max-width: 768px) {
    .login-head{
        margin-top: 1.5rem;
        padding: 0 3.5rem;
    }
    #signup-head{
      padding: 0 2rem;
    }
}

@media screen and (max-width: 400px) {
    .login-head h1{
        font-size: calc(1.6rem + 1vw);
    }
    .login-head h2{
      margin-top: 0.8rem;
      font-size: calc(0.95rem + 1vw);
  }
    .login-head span{
        font-size: calc(0.7rem + 1vw);
        margin-top: 0.7rem;
    }
}

@media screen and (min-width: 400px) and (max-width: 768px) {
    .login-head h1{
        font-size: calc(1.8rem + 1vw);
    }
    .login-head h2{
      margin-top: 0.8rem;
      font-size: calc(1.05rem + 1vw);
  }
    .login-head span{
        font-size: calc(0.75rem + 1vw);
        margin-top: 0.85rem;
        margin-top: 0.8rem;
    }
}
/* Login Head End */

/* Form Start */
form{
  width: 45%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form label{
  width: 100%;
  font-size: calc(0.25rem + 1vw);
  font-weight: 500;
  font-family: "Poppins", serif;
}
form input{
  width: 100%;
  font-size: calc(0.1rem + 1vw);
  font-family: "Poppins", serif;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0 1rem 0;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: all 0.1s ease;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2.6px;
}
form input:focus{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 7px;
}
form input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
form button{
  width: max-content;
  margin-top: 1rem;
  border: none;
  color: #fff;
  padding: 0.5rem 1.5rem;
  font-size: calc(0.1rem + 1vw);
  font-family: "Poppins", serif;
  background-color: #ee7f1b;
  border-radius: 10px;
  font-weight: 500;
  transition: all 0.2s ease;
}
form button:hover{
  background-color: #e8710a;
}

form span{
  font-size: calc(0.2rem + 1vw);
  font-family: "Poppins", serif;
  margin: 1rem 0 0.5rem 0;
  text-align: center;
  display: block;
  color: #000;
  font-weight: 500;
}
form span a{
  color: #000;
}

@media screen and (max-width: 768px) {
  form{
    width: 85%;
    margin: 2.5rem auto;
  }
  form label{
    font-size: calc(0.85rem + 1vw);
  }
  form input{
    font-size: calc(0.75rem + 1vw);
    padding: 0.6rem 1rem;
    font-weight: 420;
    margin: 0.6rem 0 1.1rem 0;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.5px 2.5px 2.6px;
  }
  form input:focus{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3.5px 7.5px;
  }
  form button{
    margin-top: 1rem;
    padding: 0.4rem 1.5rem;
    font-size: calc(0.7rem + 1vw);
    border-radius: 10px;
  }
  form span{
    font-size: calc(0.65rem + 1vw);
    margin: 0.8rem 0 0.3rem 0;
  }
}
/* Form End */
